<div class="container" style="display: flex; justify-content: center;">
  <div class="section column is-6">
    <div id="clearance" class="password-reset">
      <h2 class="title"><%= t(".title") %></h2>

      <p><%= t(".description") %></p>

      <%= form_for :password, url: passwords_path do |form| %>
        <div class="text-field field">
          <%= form.label :email, class: "label" %>
          <%= form.text_field :email, type: 'email', class: "input" %>
        </div>

        <div class="submit-field field">
          <%= form.submit class: "button is-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>